@import './typography.scss';

:root {
  --black: #000100;
  --medium-purple: #907AD6;
  --brink-pink: #FF4F79;
  --blue:#456AEF;
  --purps: #AB50D6;
  --oompa: #FB8C24;

  --nav-height-desktop: 80px;
  --footer-height-desktop: 80px;
  --container-min-height: calc(100vh - 160px);
  --theme-color: var(--medium-purple);

  --container-width-desktop: 900px;
}

$medium-breakpoint: 767px;

body {
  background: var(--black);
  color: #fff;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  min-height: var(--container-min-height);
  max-width: var(--container-width-desktop);
}
