:root {
  --black: #000100;
  --medium-purple: #907AD6;
  --brink-pink: #FF4F79;
  --blue:#456AEF;
  --purps: #AB50D6;
  --oompa: #FB8C24;

  --nav-height-desktop: 80px;
  --footer-height-desktop: 80px;
  --container-min-height: calc(100vh - 160px);
  --theme-color: var(--medium-purple);


}

body {
  background: var(--black);
  color: #fff;

}

a {
  text-decoration: none;
}

.container {
  padding: 3em;
  height: var(--container-min-height);
}
