
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

/**
* Font sizes
*/

.text--normal { font-size: 1em; } // 1em === 16px

.text--small { font-size: .8em; }

.text--smallest { font-size: .5em; }

.text--large { font-size: 1.4em; }

.text--larger { font-size: 2em; }

.text--largest { font-size: 3em; }


/**
* Font weight
*/

.text--thicc { font-weight: 600; }

.text--thiccc { font-weight: 900; }

/**
* Styled headings
*/

.page-heading {
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  &:after {
    content: '';
    display: block;
    position: relative;
    height: .7em;
    width: 1.5em;
    background: var(--theme-color);
    z-index: -1;
    top: -1.4em;
    left: -.2em;
  }
}

h2, h3, h4 {
  font-family: 'Anton', sans-serif;
}

.post-link-title {
  font-family: 'Anton', sans-serif;
}
